<div class ="home">
    <div class="position-absolute top-50 end-0 translate-middle">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <a class="btn btn-light text-info" href="/movies" role="button">><i class="fas fa-ticket-alt"></i> Check the movies!</a></a>
    </div>
</div>